<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
      <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.becontent"
            id="becontent.html.gen.contribution1">
         <menu
               label="beContent"
               path="additions"
               id="becontent.html.gen.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Generate Documentation"
               class="becontent.html.gen.menu.GenerateDocumentation"
               menubarPath="becontent.html.gen.menu1/group1"
               enablesFor="1"
               id="becontent.html.gen.menu1.GenerateDocumentation">
         </action>
      </objectContribution>
   </extension>

</plugin>
