<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="fr.obeo.acceleo.gen.module">
      <module
			category="beContent"
            chainPath="chain/default.chain"
            description="Generatore beContent to Php"
            title="beContent to Php">
		<parameter
               description="Error log"
               dialog="FILE_SELECTION"
               extensions="log"/>
		<parameter
               description="Source code output folder"
               dialog="FOLDER_SELECTION"/>
          <parameter
               defaultFile="default/default.becontent"
               description="Input beContent model"
               dialog="FILE_SELECTION"
               extensions="becontent"/>
      </module>
   </extension>

</plugin>
