<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="fr.obeo.acceleo.gen.module">
      <module
            category="beContent"
            chainPath="chain/default.chain"
            description="beContent Model Documentation Generator"
            title="beContent Documentation Generator">
          <parameter
               description="Input beContent model"
               dialog="FILE_SELECTION"
               extensions="becontent"/>
		<parameter
               description="Generated Documentation Output Folder"
               dialog="FOLDER_SELECTION"/>
		<parameter
               description="Error log"
               dialog="FILE_SELECTION"
               extensions="log"/>
      </module>
   </extension>

</plugin>
